{% extends "tgwBlogBundle::header.html.twig" %}


{% block content %}
    {% include "tgwBlogBundle:Bloc:Bloc-caroussel.html.twig"  %}
    <div class="articles col-lg-10">
        {% for article in articles  %}
        <div class="row">
            <div class="col-lg-10">
                <div class="post col-lg-10">
                    {{ article.getArticleSlug }}
                    <h2><a href="{{ path('blog_article_show', { 'id': article.getId ,'slug': article.getArticleSlug}) }}">{{ article.getArticleTitre() }}</a></h2>
                    <p class="post-content-meta">
                        <span class="post-tags">
                            <a href="#">
                                <span class="label label-info">{{ article.getArticleCategorie().getTitre() }}</span>
                            </a>
                        </span>
                        <span class="post-author"> // <i class="icon-user"></i> <a href="#">{{ article.getArticleAuteur().getPrenom() }}</a></span>
                        <span class="post-date"> // <i class="icon-calendar"></i>{{ article.getArticleDate()|date("d M \\a\\ H\\hm")  }}</span>
                    </p>
                    <div class="col-lg-3">
                        <a href="{{ path('blog_article_show', { 'id': article.getId , 'slug': article.getArticleSlug}) }}">
                        {% if article.getArticleVignette() == null %}
                            <img class="img-thumbnail" src="{{ asset('bundles/tgw/image/imgnewbase.png') }}" />
                        {% else %}
                            <img class="img-thumbnail" src="{{ asset(article.getArticleVignette) }}" />
                        {% endif %}
                        </a>
                    </div>
                    <p>{{ article.getArticleSynopsis() }}</p>
                    <a href="{{ path('blog_article_show', { 'id': article.getId ,'slug': article.getArticleSlug}) }}">Lire la suite »</a>
                </div>
            </div>
        </div>
        <hr class="alt"/>
        {% endfor %}
    </div>

    {% include "tgwBlogBundle:Bloc:Bloc-donate.html.twig" %}

{% endblock %}