{% extends "tgwAdminBundle::theme.html.twig" %}

{% block title %}tgwAdminBundle:Admin:index{% endblock %}

    {% block content %}

                 <div class="col-lg-10">
                    <h1><img src="{{ asset('bundles/tgw/image/icons/dashboard.png') }}" class="dashboard-icon" /> Dashboard</h1>
                 </div>
                <div class="col-lg-10">
                   <div id="left-box" class="col-lg-5">
                        <div  class="col-lg-12 title">Dashboard</div>
                       <div class="col-lg-12">
                           <div class="col-lg-3">
                               <a href="{{ path('tgw_admin_rediger') }}" class="shorcut">
                                   <img src="{{ asset('bundles/tgw/image/icons/MacOs/TextEdit/48.png') }}" width="48" height="48" alt="Rédiger un nouvel article"/>
                                   Rédiger un article
                                </a>
                           </div>
                           <div class="col-lg-3">
                               <a href="{{ path('tgw_admin_filemanager') }}" class="shorcut">
                                   <img src="{{ asset('bundles/tgw/image/icons/MacOs/iPhoto/48.png') }}" width="48" height="48" alt="Gérer le slider"/>
                                   Gérer le slider
                               </a>
                           </div>
                           <div class="col-lg-3">
                               <a href="{{ path('tgw_admin_rediger_categorie') }}" class="shorcut">
                                   <img src="{{ asset('bundles/tgw/image/icons/MacOs/TextEdit/48.png') }}" width="48" height="48" alt="Gérer le slider"/>
                                   Ajouter catégorie
                               </a>
                           </div>
                           <div class="col-lg-3">
                               <a href="{{ path('tgw_admin_rediger_auteur') }}" class="shorcut">
                                   <img src="{{ asset('bundles/tgw/image/icons/MacOs/TextEdit/48.png') }}" width="48" height="48" alt="Gérer le slider"/>
                                   Créer un auteur
                               </a>
                           </div>
                       </div>
                    </div>
                    <div id="right-box" class="col-lg-5 col-lg-offset-1">
                        <div  class="col-lg-12 title">Contenu</div>
                        <div class="col-lg-6">
                            <table class="table">
                                <thead>
                                    <th colspan="2">
                                            <em>Contenu</em>
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <strong>{{ nbrTotalArticle }}</strong>
                                        </td>
                                        <td>
                                            <em>Articles</em>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>{{ nbrArticlePublie }}</strong>
                                        </td>
                                        <td>
                                            <em>Publiés</em>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>{{ nbrCategories }}</strong>
                                        </td>
                                        <td>
                                            <em>Catégories</em>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-lg-6">
                            <table class="table">
                                <thead>
                                    <th colspan="2">
                                            Actions
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                           <strong>{{ nbrArticleNonPublie }}</strong>
                                        </td>
                                        <td>
                                           <em class="alert-danger">Article en attente de publication</em>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
    {% endblock %}
