{% extends "tgwAdminBundle::theme.html.twig" %}

{% block content %}

    <div class="col-lg-10">
<h1>Création d'un nouvelle article</h1>
        </div>


    <div class="col-lg-10">

{% if article != null %}
<form action="{{ path('tgw_admin_update_article') }}" class="form-horizontal" method="POST">

    <div class="form-group">
        <label for="titre" class="col-lg-1 control-label">Titre </label>
        <div class="col-lg-3">
            <input type="text" class="form-control" id="titre" name="titre" value="{{ article.getArticleTitre }}">
        </div>
    </div>
    <div class="form-group">
        <label for="auteur" class="control-label col-lg-1">Auteur </label>
        <div class="col-lg-4">
            <select class="form-control" name="auteur" id="auteur">
                {% for auteur in auteurs %}
                    {% if auteur == article.getArticleAuteur %}
                    <option value="{{ auteur.getId }}" selected>{{ auteur.getPrenom }}</option>
                {% else %}
                        <option value="{{ auteur.getId }}">{{ auteur.getPrenom }}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group">
    <label for="categorie" class="control-label col-lg-1">Categorie </label>
            <div class="col-lg-4">
                <select class="form-control" name="categorie" id="categorie">
                    {% for categorie in categories %}
                        {% if categorie == article.getArticleCategorie %}
                            <option value="{{ categorie.getId }}" selected>{{ categorie.getTitre }}</option>
                        {% else %}
                        <option value="{{ categorie.getId }}">{{ categorie.getTitre }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
    </div>


    <div class="form-group">
        <label class="control-label col-lg-1">Synopsis </label>
        <div class="col-lg-4">
            <textarea class="form-control" name="synopsis" id="synopsis" rows="4" style="width:600px">{{ article.getArticleSynopsis }}</textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-lg-1">Vignette </label>
        <div class="col-lg-4">
            <input type="text" class="form-control" name="vignette" id="vignette" value="{{ article.getArticleVignette }}" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-10">
            <textarea id="contenuArticle" class="form-control" name="contenuArticle" style="width:80%;height:80%">{{ article.getArticleContenu }}</textarea>
        </div>
    </div>
        <div class="form-group">
        <input type="hidden" class="form-control" value="{{ article.getId }}" name="id" id="id">
    </div>
    <div class="form-group">
        <div class="col-lg-3 col-lg-offset-5">
            <input class="btn btn-primary" type="submit" value="Enregistrer"/>
        </div>
    </div>
</form>


    {% else %}
<form  class="form-horizontal" action="{{ path('tgw_admin_creer_article') }}" method="POST">
    <div class="form-group">
        <label class="control-label col-lg-1" for="titre">Titre </label>
            <div class="col-lg-4">
                <input class="form-control" type="text" name="titre" id="titre" />
            </div>
    </div>
    <div class="form-group">
        <label for="auteur" class="control-label col-lg-1">Auteur </label>
        <div class="col-lg-4">
        <select class="form-control" name="auteur" id="auteur">
            {% for auteur in auteurs %}
                <option value="{{ auteur.getId }}">{{ auteur.getPrenom }}</option>
            {% endfor %}
        </select>
        </div>
    </div>
    <div class="form-group">
    <label for="categorie" class="control-label col-lg-1">Categorie </label>
        <div class="col-lg-4">
            <select class="form-control" name="categorie" id="categorie">
                {% for categorie in categories %}
                <option value="{{ categorie.getId }}">{{ categorie.getTitre }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-lg-1">Synopsis </label>
        <div class="col-lg-4">
            <textarea class="form-control" name="synopsis" id="synopsis" rows="4" style="width:600px"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-lg-1">Vignette </label>
        <div class="col-lg-4">
            <input type="text" class="form-control" name="vignette" id="vignette" rows="4" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-10">
            <textarea id="contenuArticle" name="contenuArticle" ></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-3 col-lg-offset-5">
            <input class="btn btn-primary" type="submit" value="Enregistrer"/>
        </div>
    </div>
</form>
    </div>
    <div id="elfinder"></div>

{% endif %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/elfinder/css/elfinder.min.css') }}">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/elfinder/css/theme.css') }}">

    <!-- elFinder JS (REQUIRED) -->
    <script type="text/javascript" src="{{ asset('bundles/elfinder/js/elfinder.min.js') }}"></script>
    <script src="{{ asset('bundles/tgw/js/ckeditor/ckeditor.js') }}" type="text/javascript"></script>
<script type="text/javascript">
    CKEDITOR.replace('contenuArticle',{filebrowserBrowseUrl:'../../../../bundles/elfinder/elfinder.html',
        filebrowserImageBrowseUrl : '../../../../bundles/elfinder/elfinder.html?mode=image',
        filebrowserImageBrowseUrl : '../../../../bundles/elfinder/elfinder.html?mode=flash',
        filebrowserImageBrowseUrl : '../../../../bundles/elfinder/elfinder.html?mode=file'});
    CKEDITOR.config.width = '100%';
    CKEDITOR.config.height = '60%';
    //On met la hauteur de la sidebar a jour
    var synopsisHeight = $('#synopsis').height();
    var bodyHeight = document.body.scrollHeight + 90 + synopsisHeight + synopsisHeight;

    $('#sidebar').css('height',bodyHeight+"px");

</script>

{% endblock %}
