<html>
    <head>
        <title>{{ titre }}</title>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="text/javascript"></script>
        <script src="{{ asset('bundles/tgw/js/bootstrap.min.js') }}"></script>
        <link rel="icon" type="image/x-icon" href="{{ asset('bundles/tgw/image/icons/dashboard.png') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/tgw/css/admin.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/tgw/css/bootstrap.min.css') }}" />
    </head>
    <body>

        {% if app.user %}
            {% include "tgwAdminBundle:Bloc:Bloc-logout.html.twig"  %}
            {% include "tgwAdminBundle:Bloc:Bloc-navbar.html.twig" %}
            {%  include "tgwAdminBundle:Bloc:Bloc-filArianne.html.twig" %}
        {% endif %}

    {% block content %}

    {% endblock %}

    </body>
</html>